#board {
   border-style: solid;
   border-width: 5px;
   width: 350px;
   height: 350px;
   margin: 0px;
   z-index: -5;
}

#klocek {
   z-index: 1;
   width: 50px;
   height: 50px;
   left: 5px;
   position: absolute;
   top: 5px;
}

#klocek img {
   width: 50px;
   height: 50px;
   object-fit: fill;
}

.food {
   z-index: 1;
    background-color: black;
   width: 20px;
    height: 20px;
   position: absolute;
   top: 40px;

}

#score {
   position: absolute;
   z-index: -5;
   top: 370px;
   left: 5px;
}

.bullet {
    z-index: 1; 
    background-color: darkblue;
    width: 5px;
    height: 5px;
    position: absolute;
}